body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(to right,#f3e8ff,#ffe4e6);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    color:#9333ea;
}

.subtitle{
    color:#555;
    margin-bottom:20px;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
}

textarea{
    height:100px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#9333ea;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#7e22ce;
}

#successMessage{
    color:green;
    margin-top:15px;
    font-weight:bold;
}

@media(max-width:400px){

    .container{
        width:90%;
    }

}